	<div class="right" id="sidebar_wrapper">
		<div id="sidebar">

			<div class="box">

				<div class="box_title">Staff Members</div>

				<div class="box_content">
					<p>Karl Romeus - Junior High Ministry, Gilbert campus<br>Brianne Johns - High School Ministry, Gilbert campus<br>480-305-7500</p>
					<p>Nate Lanzon - Junior High Ministry, Mesa campus<br>Jared Ulrich - High School Ministry, Mesa campus<br>480-924-4946</p>
					<p>David Ahles - Pastor of Family Ministries, Queen Creek campus<br>480-305-7500</p>
					<p>Keaton Smith - Pastor of Family Ministries, Glendale campus<br>623-937-2741</p>
				</div>

			</div>

			<div class="box">

				<div class="box_title">Service Times</div>

				<div class="box_content">
					<h3>Gilbert Campus</h3>
					<p>Sunday, 11:15 a.m. High School Large Group <br>(grades 9-12)&nbsp; Student Building</p>
					<h3>Mesa Campus</h3>
					<p>Sunday, 11:15 am High School Large Group<br>(grades 9-12) Student Center</p>
					<h3>Queen Creek Campus</h3>
					<p>Sunday, 11:15 JH &amp; HS combined<br>(grades 7-12)</p>
					<h3>Glendale Campus&nbsp;</h3>
					<p>Sunday, 10:45 a.m. High School Large Group <br>(grades 9-12) Student Room (146/147)</p>
				</div>

			</div>

			<div class="box">

				<div class="box_title">Here’s the Deal</div>

				<div class="box_content">
					<p>Learn what it means to have a relationship with Christ and find out about baptism.<br><br><span style="text-decoration: underline;">Gilbert campus</span> will&nbsp;be on the&nbsp;1<sup>st</sup> Sunday of the month at 11:15 am at the Stone Table in the Student Building.<br>Gilbert questions, please contact&nbsp;<a href="mailto:Janette.Knippers@CentralAZ.com">Janette.Knippers@CentralAZ.com</a>.&nbsp;<br><br><span style="text-decoration: underline;">Mesa campus</span> will be on the 1st Sunday of the month at 11:15 a.m.&nbsp; If you are interested, please e-mail <a href="mailto:Jared.Ulrich@CentralAZ.com">Jared.Ulrich@CentralAZ.com</a> to register.</p>
					<p><span style="text-decoration: underline;">Glendale campus</span> will be on the 1st Sunday of the month at 12:15 pm.&nbsp; If you are interested, please e-mail <a href="mailto:Keaton.Smith@CentralAZ.com">Keaton.Smith@CentralAZ.com</a>&nbsp;to register.</p>
				</div>

			</div>

			<div class="box">

				<div class="box_title">Midweek Program</div>

				<div class="box_content">
					<p>Our Wednesday Night program.&nbsp;</p>
					<p>High School CRASH - 6:30-8:30 p.m. *<br>Cost:&nbsp; $10<br>Dates:&nbsp; August 24 - November 16 (no class on October 12)</p>
					<p>To register for the Gilbert CRASH, <a class="buttonStyle" href="http://www.centralaz.com/Arena/default.aspx?page=4222&amp;eventId=5328">click here<br></a><br>To register for the Mesa CRASH, <a class="buttonStyle" href="http://www.centralaz.com/Arena/default.aspx?page=4222&amp;eventId=5329">click here<br></a><br>To register for the Queen Creek CRASH, <a class="buttonStyle" href="default.aspx?page=4222&amp;eventId=5392">click here</a><br>* Queen Creek meets from 6:15-8:00 pm<br><br>* *To register for the Glendale CRASH &amp; CHILL, <a class="buttonStyle" href="http://www.centralaz.com/Arena/default.aspx?page=4222&amp;eventId=5407">click here</a><br>**(Glendale's Mid-week is combined 7-12 grade)</p>
				</div>

			</div>

		</div>
	</div>

	<div class="clearer">&nbsp;</div>

</div>