<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	 <%= stylesheet_link_tag 'style' %>
	<title>Central Student Ministry</title>
</head>

<body>

<%= yield %>

</body>
</html>
